<!-- IMPORTANT:

This Template Download URL and its Usage License URL is given further down below. Please visit these URLs for Free / Full Download of this Template For Local Hosting Purposes.

This Codepen Project is meant for Learning Purposes only and must not be used for any deployments.

-->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Lonely Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Sedan:ital@0;1&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Sedan:ital@0;1&family=Trade+Winds&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/about.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    {{>header}}
    <main>
        <section id="hero" class="d-flex m-5 justify-content-center">
            <div class="mx-5" style="width:40%">
                <h1 class="text-white">Hi,</h1>
                <h3 class="text-white">Welcome to Shruti-Sangam</h3>
                <h3 class="text-white">We teach Indian Classical Music</h3>
                <p class="text-white">Experience the rich tradition and profound beauty of Indian classical music with
                    our expert instructors at Shruti-Sangam. Whether you're a beginner or an experienced musician, we
                    offer personalized lessons to help you explore the intricacies of this timeless art form. Join us on
                    a journey of melody, rhythm, and cultural heritage.</p>
                <button class="btn btn-primary">Know More...</button>

            </div>
            <div class="w-50">

                <img class="w-100" src="/Assets/images/thumb6.png" alt="">
            </div>
        </section>
        <hr>
        <section>
            <div class="sec-div">
                <h2 class="head">About Shruti Sangam</h2>
                <div class="d-flex ">
                    <div class="mt-4">
                        <p class="lh-nm fst-italic" style="font-size:20px;">Shruti Sangam is a futuristic digital
                            platform for online music
                            education. We are re-imagining music
                            learning by creating a promising music school driven by Curated Curriculum, Certified
                            Teachers &
                            Personalized Musical Journeys for various student needs.“Musical journeys for different
                            Student
                            Personas” is our core product offering. We offer this product in 3 different flavours</p>
                    </div>
                    <div class="w-50">
                        <img class="w-100 rounded-circle" id="logo" src="/Assets/images/ico2.png" alt="">
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="shadow my-4 rounded-4 bg-secondary">
                        <p class="fst-italic p-4 fs-5 text-white" id="text1">Green Field Musical Journey for students who
                            are very
                            young & want to explore Music for the
                            first time</p>
                    </div>
                    <div class="shadow m-4 rounded-4 bg-secondary">
                        <p class="fst-italic p-4 fs-5 text-white" id="text2">Passion Oriented Musical Journey designed
                            for people
                            across various age groups & professions
                            who want to learn music as a Hobby, Passion or Life-Skill</p>
                    </div>
                    <div class="shadow my-4 rounded-4 bg-secondary">
                        <p class="fst-italic p-4 fs-5 text-white" id="text3">Certification Oriented Musical Journey for
                            serious
                            music learners interested in structure &
                            formal music education</p>
                    </div>
                </div>
                <p class="fst-italic">Each of SSangam's products has been intelligently designed to solve all the major
                    problems which
                    exist in the Music Education sector as of today. Curated Curriculum for different student personas,
                    a proprietary system to hire, upskill & manage teachers professionally, Personalized Journeys for
                    different student profiles & above all a futuristic platform which combines the power of Curated
                    curriculum, Professional Teachers & Personalized Musical Journeys into a seamless virtual classroom
                    experience for all spardha students from the comfort of their home is all core building blocks of
                    Shruti-Sangam unique solution.</p>
            </div>
        </section>
        <hr>
        <section id="how-work" class="section-margin mt-5">
            <div>
                <h1 class="fw-bold head text-center mt-4">How we work<span class="cyan-font">.</span></h1>
            </div>
            <div class="wrap d-flex justify-content-center">

                <div class="work m-4" id="box1">
                    <h3>
                        <i class="fas fa-envelope-square"></i>
                    </h3>
                    <h4>
                        Contact Us.
                    </h4>
                    <p>we will help you out with your prefrence</p>
                    <a class="btn btn-danger p-2" href="/contact">Contact Now</a></li>
                </div>
                <div class="work m-4" id="box2">
                    <h3>
                        <i class="fas fa-graduation-cap"></i>
                    </h3>
                    <h4>Expert Instruction</h4>
                    <p>Receive personalized training from our expert instructors, who are accomplished musicians in
                        their own right.</p>
                    <a class="btn btn-danger p-2" href="/instructors">Meet Our Instructors</a>
                </div>
                <div class="work m-4" id="box3">
                    <h3>
                        <i class="fas fa-users"></i>
                    </h3>
                    <h4>Community Engagement</h4>
                    <p>Join a vibrant community of music enthusiasts and collaborate with fellow learners in workshops
                        and performances.</p>
                    <a class="btn btn-danger p-2" href="/community">Explore Community</a>
                </div>
                <div class="work m-4" id="box4">
                    <h3>
                        <i class="fas fa-music"></i>
                    </h3>
                    <h4>Cultural Appreciation</h4>
                    <p>Immerse yourself in the rich cultural heritage of music through our diverse repertoire and
                        cultural events.</p>
                    <a class="btn btn-danger p-2" href="/events">Attend Events</a>
                </div>
            </div>
        </section>
        <hr>
        <article class="banner">
            <div class="d-flex">
                <div>
                    <p class="text-left text-white fs-4 p-5" style="margin-left:200px;">We're on a mission to become the
                        most trusted online platform for learning music & To
                        contribute in the holistic development of our students & teachers</p>
                </div>
                <img class="mx-5" src="https://a.storyblok.com/f/114532/1122x602/99235eeca6/aboutuspage.png/m/566x304"
                    alt="">
            </div>

        </article>
        <section>
            <div class="sec-div">
                <div class="d-flex">
                    <div class="w-75">
                        <h2 class="head">Turn Your Spark To A Flame</h2>
                        <ul class="mt-5">
                            <li>Music moves the world, in more ways than one. It means differently to
                                everyone.</li>

                            <li>For some, it might be a way to grow their talent, break into a career, pick up an
                                interest,
                                a hobby, a life-skill or it might even be a stress buster. But it comes from a similar
                                spark, a spark we help turn into a flame</li>
                        </ul>
                        <a class="btn btn-warning mt-4  " href="">Work With Us</a>
                    </div>
                    <div class="mx-4">
                        <img class="w-100" src="/Assets/images/img10.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <hr>
        <article class="bg-dark p-5">
            <p class="text-white text-center fs-5">24/7 Dedicated Customer Support</p>
        </article>
    </main>
    {{>footer}}
    <script src="/js/script.js"></script>
    <script>
        $(document).ready(function () {
            let angle = 0;
            function rotateImage() {
                angle += 45;
                $('#logo').css('transform', 'rotate(' + angle + 'deg)');
            }
             setInterval(rotateImage, 200);
        });
        $(document).ready(function () {
            $("#how-work").mouseenter(function () {
                $("#how-work").css("opacity", "1");
            });
            $(".sec-div").mouseenter(function () {
                $("#text1").fadeIn(1000);
                $("#text2").fadeIn(2000);
                $("#text3").fadeIn(3000);
            });
        });



    </script>

</body>

</html>