<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Sedan:ital@0;1&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Sedan:ital@0;1&family=Trade+Winds&display=swap"
        rel="stylesheet">
    <title>Document</title>
    <style>
        a {
            text-decoration: none;
            color: black;
        }
    </style>

</head>

<body>
    {{>header}}
    <section>
        <div class="sec-div bg-white rounded-4" style="padding-bottom:80px;">
            <div>
                <h2 class="text-center py-5 fw-bold head">Instrumental Courses</h2>
            </div>
            <div class="d-flex justify-content-center" style="padding-bottom:20px;">
                <div class="info-box shadow mx-5">
                    <div class="info-img-box">
                        <img class="fit-img rounded-4" src="/Assets/images/tabla.jpeg" alt="">
                    </div>
                    <div class="pt-4">
                        <h4>Tabla</h4>
                        <p>The heartbeat of Indian classical music - Tabla. Learn Tabla to appreciate the versatility of
                            Indian heritage and Indian classical music. Our expert teachers help you develop a strong
                            tala foundation and also prepare for Akhil Bharatiya Gandharva Mahavidyalaya certification.
                        </p>
                        <button class="btn btn-warning"><a class="text-decoration-none text-dark" href="/tabla">See
                                Course</a></button>
                    </div>
                </div>
                <div class="info-box shadow mx-5" style="height:50%">
                    <div class="info-img-box"><img class="rounded-4" src="/Assets/images/sitar.jpg" alt="">
                    </div>
                    <div class="pt-4">
                        <h4>Sitar</h4>
                        <p>Sitar, an emblem of India's rich musical heritage.
                            where every pluck of the string is a testament to the beauty and complexity of Indian
                            classical music. Our expert teachers help you develop
                            a strong foundation and also prepare for Akhil Bharatiya Gandharva Mahavidyalaya
                            certification. </p>
                        <button class="btn btn-warning"><a class="text-decoration-none text-dark" href="/sitar">See
                                Course</a></button>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center" style="padding-bottom:20px;">
                <div class="info-box shadow mx-5">
                    <div class="info-img-box"><img class="fit-img rounded-4" src="/Assets/images/flute.jpeg" alt="">
                    </div>
                    <div class="pt-4">
                        <h4>Flute</h4>
                        <p>"Flute has its roots in Indian Classical music. Learning it helps you access Indian culture
                            and heritage while also developing your musical skills. Our expert teachers help you develop
                            a strong foundation and also prepare for Akhil Bharatiya Gandharva Mahavidyalaya
                            certification. .</p>
                        <button class="btn btn-warning"><a class="text-decoration-none text-dark" href="/flute">See
                                Course</a></button>
                    </div>
                </div>
                <div class="info-box shadow mx-5">
                    <div class="info-img-box"><img class="fit-img rounded-4" src="/Assets/images/harmonium.jpeg" alt="">
                    </div>
                    <div class="pt-4">
                        <h4>Harmonium</h4>
                        <p>The harmonium is a key part of Indian Classical music. When you learn it, you're not just
                            improving your musical skills; you're also connecting with Indian culture. Our skilled
                            teachers will help you build a strong foundation and get ready for certification from the
                            Akhil Bharatiya Gandharva Mahavidyalaya</p>
                        <button class="btn btn-warning"><a class="text-decoration-none text-dark" href="/harmonium">See
                                Course</a></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{>footer}};
    <script src="/js/script.js"></script>
</body>

</html>